body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.top-line {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  width: 1440px;
  height: 72px;
  background: #fff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}
.logo-color {
  color: #2e2f42;
}

.navigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  width: 261px;
  height: 24px;
  list-style-type: none;
}
.link-studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.link-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.link-contacts {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.link-studio:hover {
  color: #404bbf;
}
.link-studio:focus {
  color: #404bbf;
}
.link-portfolio:hover {
  color: #404bbf;
}
.link-contacts:hover {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-row {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  flex-direction: row;
}
.link-email {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.link-tel {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.link-email:hover {
  color: #404bbf;
}

.link-tel:hover {
  color: #404bbf;
}

.hero-image {
  width: 1440px;
  height: 600px;
  background-color: #2e2f42;
  text-align: center;
}
.top {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.top-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
button:hover {
  background: #404bbf;
}
button:focus {
  background: #404bbf;
}

.text-h-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.three-line {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.about-us {
  list-style-type: none;
  flex-direction: row;
  display: flex;
}
.strategy,
.punctuality,
.diligence,
.technologies {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 264px;
  height: 104px;
}

.two-section {
  width: 1440px;
  height: 732px;
  background-color: #f4f4fd;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team {
  list-style-type: none;
  flex-direction: row;
  display: flex;
  background-color: #ffffff;
}
.mark,
.tom,
.camilla,
.daniel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 380px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.two-section {
  width: 1128px;
  height: 1000px;
}

.row {
  width: 1128px;
  height: 420px;
  list-style-type: none;
  flex-direction: row;
  display: flex;
}

.app,
.laptop,
.taxi,
.courses {
  width: 360px;
  height: 420px;
  background: #fff;
}
.pay {
  border: 1px solid #e7e9fc;
  width: 360px;
  height: 420px;
  background: #fff;
}

footer {
  width: 1440px;
  height: 312px;
  background-color: #2e2f42;
}
.foot-page {
  background: #2e2f42;
}
.logo-color-two {
  color: #f4f4fd;
}
.text-color {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
