body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  max-width: 1158px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  display: inline;
}

.top-line {
  display: inline;
  justify-content: flex-start;
  background: #fff;
  border-bottom: 1px solid #e7e9fc;
  flex-direction: row;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  margin-left: 76px;
  margin-right: 156px;
}
.logo-color {
  color: #2e2f42;
}

.navigation {
  justify-content: flex-start;
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}
.link-main-page {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.link-main-page:hover {
  color: #404bbf;
}
.link-main-page:focus {
  color: #404bbf;
}
.link-main-page:hover {
  color: #404bbf;
}
.link-main-page:hover {
  color: #404bbf;
}

.address {
  font-style: normal;
  flex-direction: row;
}

.address-row {
  list-style-type: none;
  text-decoration: none;
}
.link-contacts {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.link-contacts:hover {
  color: #404bbf;
}

.link-contacts:focus {
  color: #404bbf;
}

.hero-image {
  background-color: #2e2f42;
  text-align: center;
}
.top {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.top-button {
  cursor: pointer;
  justify-content: center;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
button:hover {
  background: #404bbf;
}
button:focus {
  background: #404bbf;
}

.text-h-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.three-line {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.about-us {
  list-style-type: none;
}
.strategy,
.punctuality,
.diligence,
.technologies {
  justify-content: flex-start;
}

.two-section {
  background-color: #f4f4fd;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team {
  list-style-type: none;
  background-color: #ffffff;
}
.name {
  justify-content: center;
  background: #fff;
}

.row {
  list-style-type: none;
}

.app,
.laptop,
.taxi,
.courses {
  background: #fff;
}
.pay {
  border: 1px solid #e7e9fc;
  background: #fff;
}

footer {
  background-color: #2e2f42;
}
.foot-page {
  background: #2e2f42;
}
.logo-color-two {
  color: #f4f4fd;
}
.text-color {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
